.heading {
  margin-bottom: 8px;
  line-height: 1.22;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.link {
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.link:hover {
  color: var(--accent-color);
}

.link > svg {
  margin-left: 8px;
}
