.container {
  display: flex;
  border-radius: 16px;
  background-color: var(--search-background-color);
  height: var(--search-container-height);
  border: 1px solid transparent;
  position: relative;
}

.container:has(> input:focus) {
  border-color: var(--accent-color);
}

.containerError {
  --container-height: 48px;
  border-color: var(--error-color);
}

.containerError::after {
  content: 'Whoops, can’t be empty…';
  color: var(--error-color);
  position: absolute;
  margin-top: calc(var(--search-container-height) + 8px);
}

.container input {
  border: none;
  background-color: transparent;
  font-weight: 700;
  flex: 1;
  padding: 16px 24px;
  font-size: var(--h4-size);
  color: var(--primary-font-color);
}

.container input::placeholder {
  color: var(--primary-font-color);
  opacity: 0.25;
}

.container input:focus {
  outline: none;
  border: none;
}

.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  background-color: transparent;
}

.container button svg {
  width: 20px;
  height: 20px;
}
