.li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.li::before {
  content: '•';
  position: absolute;
  color: var(--accent-color);
  left: 0;
}

.li span {
  color: var(--secondary-font-color);
  margin-top: 14px;
}
