.li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
  font-size: 1.5rem;
  line-height: 1.6;
}

.li::before {
  content: '•';
  position: absolute;
  color: var(--accent-color);
  left: 0;
}
