.container {
  display: flex;
  align-items: center;
  margin-block-end: var(--header-container-block-end);
  flex-direction: column;
  max-width: var(--max-width);
  margin-inline: auto;
  transition: height 0.2s ease;
}

.pageOptions {
  display: flex;
  align-items: center;
  width: 100%;
  margin-block-end: var(--header-page-options-block-end);
  transition: margin 0.2s ease;
}

.pageOptions > svg {
  width: 25px;
  height: 25px;
  color: var(--halfmoon-color);
}

.pageOptions div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
}

.pageOptions div:first-child > svg {
  width: var(--header-book-width);
  height: var(--header-book-height);
  color: var(--secondary-font-color);
  transition: width 0.2s ease, height 0.2s ease;
}

.pageOptions label {
  margin-inline-end: var(--header-page-options-label-inline-end);
}

.searchBox {
  width: 100%;
  margin-block-end: 24px;
}
