.container {
  display: flex;
  align-items: center;
  margin-block-end: 24px;
  flex-direction: column;
  max-width: var(--max-width);
  margin-inline: auto;
  transition: height 0.2s ease;
}

.pageOptions {
  display: flex;
  align-items: center;
  width: 100%;
  margin-block-end: 24px;
  transition: margin 0.2s ease;
}

.pageOptions div:first-child {
  flex: 1;
  display: flex;
  align-items: center;
}

.pageOptions div:first-child > svg {
  width: 32px;
  height: 36px;
  color: var(--secondary-font-color);
  transition: width 0.2s ease, height 0.2s ease;
}

.pageOptions label {
  margin-inline-end: 12px;
}

.searchBox {
  width: 100%;
  margin-block-end: 24px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-block-end: 46px;
  }

  .pageOptions {
    margin-block-end: 50px;
  }

  .pageOptions div:first-child > svg {
    width: 40px;
    height: 44px;
  }
}
