.container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.container h3 {
  font-style: italic;
  font-weight: 700;
  font-size: var(--part-of-speech-size);
  line-height: var(--part-of-speech-line-height);
  margin-right: 16px;
}

.container hr {
  flex: 1;
  height: 1px;
  background-color: var(--divider-color);
  border: none;
}
