.listItems {
  margin-top: 18px;
}

.synonymsBox {
  display: flex;
  margin-bottom: 34px;
}

.synonymsBox h4 {
  margin-right: 24px;
}

.synonymsBox a {
  color: var(--accent-color);
  font-weight: 700;
}

.synonymsBox a:hover {
  text-decoration-line: underline;
}

.synonymsBox a + a {
  margin-left: 6px;
}
