.listItems {
  margin-top: 18px;
}

.synonymsBox {
  display: flex;
  margin-bottom: 34px;
  height: auto;
}

.synonymsBox h4 {
  margin-right: 24px;
}

.synonymsBox a {
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--h4-size);
  float: left;
  margin-right: 6px;
}

.synonymsBox a:hover {
  text-decoration: underline;
}
