.listItems {
  margin-block-start: 18px;
}

.synonymsBox {
  display: flex;
  margin-block-end: 34px;
  height: auto;
}

.synonymsBox h4 {
  margin-right: 24px;
}

.synonymsBox a {
  color: var(--accent-color);
  font-weight: 700;
  font-size: var(--h4-size);
  float: left;
  margin-right: 6px;
}

.synonymsBox a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .listItems {
    margin-block-start: 26px;
  }

  .listItems:has(~ div > h3) {
    margin-block-end: 40px;
  }

  .synonymsBox {
    margin-block: 40px;
  }
}
