@import url('./search.css');

:root {
  --font-mono: var(--font-inconsolata);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);

  /* backgrounds */
  --background-color: #fff;
  --search-background-color: #f4f4f4;
  --divider-color: #e9e9e9;

  /* fonts sizes */
  --h1-size: 3.2rem;
  --h1-line-height: 1.19;

  --h4-size: 1.6rem;
  --h4-line-height: 1.1875;

  --h5-size: 1.4rem;
  --h5-line-height: 1.2;

  --part-of-speech-size: 1.8rem;
  --part-of-speech-line-height: 1.2;

  --paragraph-size: 1.5rem;
  --paragraph-line-height: 1.6;

  /* font-colors */
  --primary-font-color: #2d2d2d;
  --secondary-font-color: #757575;

  /* accent */
  --accent-color: #a445ed;
  --error-color: #ff5252;

  --max-width: 737px;
}

@media screen and (min-width: 768px) {
  :root {
    /* fonts sizes */
    --h1-size: 6.4rem;
    --h1-line-height: 1.05;

    --h4-size: 2rem;
    --h4-line-height: 1;

    --part-of-speech-size: 2.4rem;
    --part-of-speech-line-height: 1.2;

    --paragraph-size: 1.8rem;
    --paragraph-line-height: 1.33;
  }
}

[data-theme='dark'] {
  /* backgrounds */
  --background-color: #050505;
  --search-background-color: #1f1f1f;
  --divider-color: #3a3a3a;

  /* fonts */
  --primary-font-color: #fff;
  --secondary-font-color: #757575;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: font-size 0.2s ease, background-color 0.2s ease, color 0.05s ease;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  font-family: var(--font-sans);
  color: var(--primary-font-color);
  background: var(--background-color);
  font-size: 1.4em;
  padding: 24px;
}

p {
  font-size: var(--paragraph-size);
  line-height: var(--paragraph-line-height);
}

h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
  color: var(--secondary-font-color);
}

h5 {
  font-weight: 400;
  font-size: var(--h5-size);
  line-height: var(--h5-line-height);
  color: var(--secondary-font-color);
}

button {
  cursor: pointer;
  outline: none;
  overflow: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
