:root {
  --font-mono: var(--font-inconsolata);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);

  /* backgrounds */
  --background-color: #fff;
  --search-background-color: #f4f4f4;
  --divider-color: #e9e9e9;

  /* font-colors */
  --primary-font-color: #2d2d2d;
  --secondary-font-color: #757575;

  /* accent */
  --accent-color: #a445ed;
  --error-color: #ff5252;

  --max-width: 737px;
}

[data-theme='dark'] {
  /* backgrounds */
  --background-color: #050505;
  --search-background-color: #1f1f1f;
  --divider-color: #3a3a3a;

  /* fonts */
  --primary-font-color: #fff;
  --secondary-font-color: #757575;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  font-family: var(--font-sans);
  color: var(--primary-font-color);
  background: var(--background-color);
  font-size: 1.4em;
  padding: 24px;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 3.2rem;
}

h4 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--secondary-font-color);
}

button {
  cursor: pointer;
  outline: none;
  overflow: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
