:root {
  --font-mono: var(--font-inconsolata);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-lora);

  --background-color: #fff;
  --primary-font-color: #2d2d2d;
  --secondary-font-color: #757575;
  --accent-color: #a445ed;

  --max-width: 737px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
  font-family: var(--font-sans);
}

body {
  color: var(--primary-font-color);
  background: var(--background-color);
  font-size: 1.4em;
  padding: 24px;
}

p {
  font-size: 1.5rem;
}

h1 {
  font-size: 3.2rem;
}

h4 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

button {
  cursor: pointer;
  outline: none;
  overflow: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
