.dropdownMenu {
  position: absolute;
  margin-top: 20px;
  background-color: var(--dropdown-background-color);
  display: none;
  width: 140px;
  box-shadow: var(--dropdown-menu-shadow);
  border-radius: 16px;
  padding-block-start: 16px;
  padding-block-end: 16px;
  top: 50%;
  z-index: 2;
}

.showDropdownMenu {
  display: block;
}

.dropdownList {
  list-style: none;
}

.dropdownItem {
  cursor: pointer;
  padding-inline-start: 20px;
}

.dropdownItem:hover {
  color: var(--accent-color);
}

.dropdownItem + .dropdownItem {
  margin-top: 12px;
}

.dropdownItemSans {
  font-family: var(--font-sans);
}
.dropdownItemSerif {
  font-family: var(--font-serif);
}
.dropdownItemMono {
  font-family: var(--font-mono);
}

@media screen and (min-width: 768px) {
  .dropdownMenu {
    padding-block-start: 24px;
    padding-block-end: 24px;
    width: 180px;
  }
  .dropdownItem {
    font-size: 1.8rem;
    padding-inline-start: 24px;
  }
}
