.wordBox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.wordBox > div {
  flex: 1;
}

.phonetic {
  font-size: var(--part-of-speech-size);
  line-height: var(--part-of-speech-line-height);
  color: var(--accent-color);
}

.hr {
  background-color: var(--divider-color);
  border: none;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 24px;
}
