.wordBox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.wordBox > div {
  flex: 1;
}

.phonetic {
  font-size: 1.8rem;
  line-height: 1.33;
  color: var(--accent-color);
}

.hr {
  background-color: #e9e9e9;
  border: none;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 24px;
}
