.wordBox {
  display: flex;
  align-items: center;
  margin-block-end: 30px;
}

.wordBox > div {
  flex: 1;
}

.phonetic {
  font-size: var(--part-of-speech-size);
  line-height: var(--part-of-speech-line-height);
  color: var(--accent-color);
}

.hr {
  background-color: var(--divider-color);
  border: none;
  height: 1px;
  margin-block-start: 8px;
  margin-block-end: 24px;
}

@media screen and (min-width: 768px) {
  .wordBox {
    margin-block-end: 42px;
  }

  .wordBox h1 {
    margin-block-end: 4px;
  }
}
