.button {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(164, 69, 237, 0.25);
  transition: background-color 200ms ease, width 0.2s ease, height 0.2s ease;
}

@media screen and (min-width: 768px) {
  .button {
    width: 75px;
    height: 75px;
  }

  .button svg {
    height: 21px;
    width: 21px;
  }

  .button > svg {
    height: 26px;
    width: 26px;
  }
}

.button svg {
  transition: color 200ms ease, fill 200ms ease, width 200ms ease,
    height 200ms ease;
}

.button:hover {
  background-color: var(--accent-color);
}

.button:hover > svg {
  fill: #fff;
  color: #fff;
}

.button:hover > div > svg {
  fill: #fff;
}

.button > svg {
  margin-left: 3px;
  fill: var(--accent-color);
  color: var(--accent-color);
}
